<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464578183405-rl23q29s7k7qdaumudkds7q0rsqhf373.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464578183405-rl23q29s7k7qdaumudkds7q0rsqhf373</string>
	<key>API_KEY</key>
	<string>AIzaSyAveh_pYBU7Rli9iCEWGoCJwMnOIve26D0</string>
	<key>GCM_SENDER_ID</key>
	<string>464578183405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CodingTest</string>
	<key>PROJECT_ID</key>
	<string>testproject-93990</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-93990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464578183405:ios:ff4d2f34645cadf0638ce4</string>
</dict>
</plist>